# ETH URL (recommended to use Alchemy RPC)
ETH_RPC_URL=
# BASE URL (recommended to use Alchemy RPC)
BASE_RPC_URL=
# POLYGON URL (recommended to use Alchemy RPC)
POLYGON_RPC_URL=
FOUNDRY_DISABLE_NIGHTLY_WARNING=